body {
    background-color:orange ;
    font-size: 50px;
}
h1 {font-size: 100px;
     color: green;
    font-style: italic;

}
html, body {
    height: 100%;
    color: red;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

.chest1,
.chest2,
.chest3{
    display: inline-block;
}

/* Setting width, height, padding and margin */
img{
  width: 200px;
  height: 200px;
  padding: 15px;
  margin: 0 auto;
}

#chest_container {
 width: 100%;
 text-align: center;
}
